{% extends 'base.html' %} {% block title %} Contact {% endblock %}
{% block content %}
<div class="container mt-5" align="center">
  <h2>Contact</h2>
  <p>You can contact me by email or my social media below:</p>
  <button type="submit" class="btn btn-dark btn-lg mt-4"><a href="mailto:ojimaisback@yahoo.com" style="color: white; text-decoration: none;">Email Me</a></button>
</div>
<div class="container mt-5" align="center">
  <a href="https://twitter.com/ojima_kekesky" style="color:black;"><i class="fa-brands fa-twitter fa-5x me-3"></i></a>
  <a href="https://github.com/Ojima-Grace" style="color: black;"><i class="fa-brands fa-square-github fa-5x me-3"></i></a>
</div>    
{% endblock content %}